@(title: Option<&str>)

    <!DOCTYPE html>
    <html lang="en">

    <head>
        @if title.is_some() {
        <title>@title.unwrap() - Guillem Castro</title>
        } else {
        <title>Guillem Castro</title>
        }
        <link rel="stylesheet" href="css/site.css" />
        <link rel="stylesheet" href="css/simple-grid.css" />
    </head>

    <body class="darkyellow">
        <div class="container">
            <header>
                <nav>
                    <div>
                        <a href="/">Home</a>
                        <a href="blog">Blog</a>
                    </div>
                    <div>
                        <a href="https://github.com/GuillemCastro"><img src="static/github.svg" alt="GitHub Link" width="20" height="20"></a>
                        <a href="https://twitter.com/guillemcastr0"><img src="static/twitter.svg" alt="GitHub Link" width="20" height="20"></a>
                        <a href="https://linkedin.com/in/guillem-castro-olivares"><img src="static/linkedin.svg" alt="GitHub Link" width="20" height="20"></a>
                    </div>
                </nav>
                <hr class="divider"/>
            </header>
            <div class="content">
