@use super::{header_html, footer_html}; 

@() @:header_html(None)

<div class="grid home">
    <div class="cell -3of12">
        <img class="avatar" src="/static/avatar.jpeg" alt="My Avatar">
    </div>
    <div class="cell -1of12"></div>
    <div class="cell -8of12 grid-right">
        <h1><span>Guillem Castro</span></h1>
        <h4>Software Engineer</h4>
        <p>
            I'm a Software Engineer based in Barcelona. I currently work at GTD, making <a href="https://iter.org">ITER</a> a reality. In the past I used to build rockets at <a href="https://cosmicresearch.org">Cosmic Research</a>, an student association I co-founded with some friends.
        </p>
        <p>
            In this blog I'll talk about everything I love. Anything computer or software-related, politics (yes I am one of those...) or anything else that crosses my mind. Lately I've been developing a container runtime in Rust called <a href="https://github.com/GuillemCastro/devenv">devenv</a>.
        </p>
        <p>
            I use <span style="text-decoration: line-through;">Arch</span> Pop!_OS btw.
        </p>
        <h2>Skills</h2>
        <ul>
            <li>C++, Java, Python, Rust</li>
            <li>PostgreSQL, SQLite, Elasticsearch</li>
            <li>Containers (Docker, ...). I implemented my own runtime :P</li>
            <li>Linux</li>
        </ul>
        <h2>Projects</h2>
        <ul>
            <li><a href="https://github.com/GuillemCastro/devenv">devenv</a>: virtual environments for every project. Based on container technology. </li>
            <li><a href="https://github.com/GuillemCastro/rt-data">rt-data</a>: a real-time data acquisition framework I wrote for Cosmic Research.</li>
            <li><a href="https://github.com/GuillemCastro/spotify-dl">spotify-dl</a>: a utility to download songs and playlists directly from Spotify's servers.</li>
            <li><a href="https://github.com/GuillemCastro/site">This website</a></li>
        </ul>
    </div>
</div>


@:footer_html()