@use super::{header_html, footer_html}; 

@() @:header_html(None)

<div class="grid">
    <div class="cell -3of12">
        <img class="avatar" src="/static/avatar.jpeg" alt="My Avatar">
    </div>
    <div class="cell -1of12"></div>
    <div class="cell -8of12 grid-right">
        <h1><span>Guillem Castro</span></h1>
        <h4>Software Engineer</h4>
        <p>
            I'm a Software Engineer based in Barcelona. I currently work at GTD, making <a href="https://iter.org">ITER</a> a reality. In the past I used to build rockets at <a href="https://cosmicresearch.org">Cosmic Research</a>, an student association I co-founded with some friends.
        </p>
        <p>
            In this blog I'll talk about everything I love. Anything computer or software-related, politics (yes I am one of those...) or anything else that crosses my mind. Lately I've been developing a container runtime in Rust called <a href="https://github.com/GuillemCastro/devenv">devenv</a>.
        </p>
        <p>
            I use <span style="text-decoration: line-through;">Arch</span> Pop!_OS btw.
        </p>
    </div>
</div>


@:footer_html()